{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <style>
    body {
      background: #dce4ed;
    }

    .manual_wrap {
      max-width: 680px;

      margin: 60px auto;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
  </style>
</head>

<div class="manual_wrap">
  <form method="POST" enctype="multipart/form-data" style="text-align: center">
    {% csrf_token %}

    <div class="mb-3">
      <h4>업로더</h4>
      <textarea name="uploader" class="form-control">
{{ user.username }}</textarea
      >
      <br />
      <h4>항목1 점수</h4>
      <textarea name="description1" class="form-control">
{{ form.description1.value|default_if_none:'' }}</textarea
      >
      <br />
      <h4>항목2 점수</h4>
      <textarea name="description2" class="form-control">
{{ form.description2.value|default_if_none:'' }}</textarea
      >
      <br />
      <h4>항목3 점수</h4>
      <textarea name="description3" class="form-control">
{{ form.description3.value|default_if_none:'' }}</textarea
      >
      <br />
      <h4>파일 업로드</h4>
      <input
        type="file"
        name="document"
        style="padding: 10px; display: block; margin: 0 auto"
      />
      <br />
    </div>

    <!-- {{form.as_p}} -->
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>

<!-- <p><a href="{% url 'index' %}">Return to home</a></p> -->
{% endblock %}
